* {
  padding: 0;
  margin: 0;
  background-color: #ecffe5;
}
body {
  font-family: 'Quicksand', sans-serif;
}

.top-nav {
  padding: 2%;
}

.top-nav ul {
  display: grid;
  grid-template-columns:  3fr 1fr 1fr;
  list-style: none;
}

.tagline {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  /* row-gap: 1px; */
  text-align: center;
  padding: 50px 0 70px 0;
  border-bottom: gray solid 0.5px;
}

.tagline a {
  padding: 10px 10px;
  margin: 0 auto;
  border: solid 1px gray;
  border-radius: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  font-style: italic;
  align-self: flex-end;
  /* text-align: center; */
  padding: 50px 0 70px 0;
  border-bottom: gray solid 0.5px;
  font-family: 'Amiri', serif;
  /* margin: 0 auto;
  width: 80% */
}

.quote > blockquote {
  width: 50%;
  margin: 0 auto;
  min-height: 50px;
  
  /* border: lightblue 2px solid; */
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

.quote > p {
  width: 60%;
  margin: 0 auto;
  min-height: 50px;
  /* border: lightblue 2px solid; */
  text-align: end;
}

.quote > p::before {
  content: "--";
}

.why {
  display: grid;
  grid-template-rows: auto;
  padding: 50px 0 40px 0;
  border-bottom: gray solid 0.5px;
}

.why h2 {
    margin: 0 auto 30px auto;
}

.why ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 40px;
}

.why ul li {
    display: flex;
    /* width: 32vw;
    height: 5vw;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.why ul li img {
  align-self: flex-start;
}

.why ul li div {
  margin: 0 10px;
}

.team h2 {
  text-align: center;
  margin: 2em 0;
  /* display: grid;
  grid-template-rows: 1fr 12fr;
  justify-content: center; */
}

.team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  list-style: none;
  margin: 10px;
}

.team ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.team ul li img {
  border-radius: 100%;
}

.sponsors {
  margin: 1%;
  padding-bottom: 50px;
  border-bottom: gray solid 0.5px;
}

.sponsors h2 {
  text-align: center;
  margin: 2em 0;
}

.sponsors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sponsors ul li {
  margin: 2px 5px;
}

.bottom-nav {
  padding: 2%;
  display: flex;
  justify-content: flex-start;

}

.bottom-nav div {
  margin: 10px 100px 10px 20px;
}

.bottom-nav div h3 {
  margin-bottom: 20px;
}

.bottom-nav div ul {
  list-style: none;
  /* margin: 10px 30px; */
}

