body {
  font-family: 'Quicksand', sans-serif;
}

.top-nav {
  background-color: burlywood;
  padding: 2% 0;
}

.top-nav ul {
  display: grid;
  grid-template-columns:  3fr 1fr 1fr;
  list-style: none;
}

.tagline {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  /* row-gap: 1px; */
  text-align: center;
  padding: 50px 0 70px 0;
  border-bottom: gray solid 0.5px;
}

.tagline a {
  padding: 10px 10px;
  margin: 0 auto;
  border: solid 1px gray;
  border-radius: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  font-style: italic;
  align-self: flex-end;
  /* text-align: center; */
  padding: 50px 0 70px 0;
  border-bottom: gray solid 0.5px;
  font-family: 'Amiri', serif;
  /* margin: 0 auto;
  width: 80% */
}

.quote > blockquote {
  width: 70%;
  margin: 0 auto;
  min-height: 50px;
  
  /* border: lightblue 2px solid; */
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

.quote > p {
  width: 80%;
  margin: 0 auto;
  min-height: 50px;
  /* border: lightblue 2px solid; */
  text-align: end;
}

.quote > p::before {
  content: "--";
}

.why {
  display: grid;
  grid-template-rows: auto;
  padding: 50px 0 70px 0;
  border-bottom: gray solid 0.5px;
}

.why h2 {
    margin: 0 auto 30px auto;
}

.why ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* list-style: none; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  margin-bottom: 130px;
}

.why ul li {
    display: grid;
    width: 32vw;
    height: 5vw;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.why ul li img {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
}

.why ul li strong {
  grid-row-start: 1;
  grid-column-start: 6;
}

.why ul li p {
  grid-row-start: 2;
  grid-column-start: 6;
  grid-row-end: 10;
  grid-column-end: 10;
}

.team {
  display: grid;
  grid-template-rows: 1fr 12fr;
  justify-content: center;
}

.team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}

.team ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.team ul li img {
  border-radius: 100%;
}